# Ignore virtual environment
.venv/

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so

# Ignore Python distribution artifacts
dist/
build/
*.egg-info/

# Ignore Python environments

# Ignore Jupyter Notebook
.ipynb_checkpoints/

