<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video Editor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href={{url_for('static',filename='images/logo-no-text.png')}} type="image/x-icon">
        <link rel="stylesheet" href={{url_for('static',filename='styles/commstyle.css')}}>
        <link rel="stylesheet" href={{url_for('static',filename='styles/videostyle.css')}}>
    </head>
    <body>
        <nav class="sidebar">
            <ul class="sidebar-nav">
                <div class="sidebar-logo">
                    <img src={{url_for('static',filename='images/logo-no-text.png')}} alt="logo">
                </div>
                <button class="sidebar-close" onclick="toggleMenu()">
                    <i  id="sidebar-btn" class='bx bxs-chevrons-right'></i>
                </button>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('user_dashboard', username=username) }}>
                        <i class='bx bx-home-alt-2' ></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('video_editor') }}>
                        <i class='bx bx-video-plus' ></i>
                        <span class="nav-text">Video Editor</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('upload') }}>
                        <i class='bx bx-upload'></i>
                        <span class="nav-text">Upload Images/Audio</span>
                    </a>
                </li>
            </ul>
            <ul>
                {% if username == 'admin' %}
                <li class="sidebar-nav-item">
                    <a href={{ url_for('admin_dashboard') }}>
                        <i class='bx bxs-report'></i>
                        <span class="nav-text">Admin Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('images_audio_database') }}>
                        <i class='bx bx-data' ></i>
                        <span class="nav-text">Media Database</span>
                    </a>
                </li>
                {% endif %}
                <li class="sidebar-nav-item">
                    <a href="{{ url_for('user_details', username=username) }}">
                        <i class='bx bxs-user-circle'></i>
                        <span class="nav-text">{{username}}</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('logout') }}>
                        <i class='bx bx-log-out' ></i>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            <div class="project-control">
                <div class="project-control-left">
                    <input type="text" id="project-name" placeholder="Project Name">
                </div>
                <div class="project-control-center">
                    <button id="add-image" class="project-control-btn" onclick="addImage()">Add Image</button>
                    <button id="add-audio" class="project-control-btn" onclick="addAudio()">Add Audio</button>
                </div>
                <div class="project-control-right">
                    <button id="preview-video" class="project-control-btn" onclick="previewVideo()">Preview Video</button>
                    <button id="save-video" class="project-control-btn" onclick="saveVideo()">Export Video</button>
                </div>
            </div>
            <div class="preview">
                <div class="audio-timeline">
                    <div class="timeline-header">
                        <h3>Audio Timeline</h3>
                    </div>
                </div>
                <div class="video-player">
                    <div class="video-preview">

                    </div>
                    <div class="editor">
                        <div id="image-options" class="editor-options show">
                            <div class="edit-option-set">
                                <h3>Transitions</h3>
                                <select id="image-transition" name="image-transition">
                                    <option value="dissolve">dissolve</option>
                                    <option value="radial">radial</option>
                                    <option value="circleopen">circleopen</option>
                                    <option value="circleclose">circleclose</option>
                                    <option value="pixelize">pixelize</option>
                                    <option value="hlslice">hlslice</option>
                                    <option value="hrslice">hrslice</option>
                                    <option value="vuslice">vuslice</option>
                                    <option value="vdslice">vdslice</option>
                                    <option value="hblur">hblur</option>
                                    <option value="fadegrays">fadegrays</option>
                                    <option value="fadeblack">fadeblack</option>
                                    <option value="fadewhite">fadewhite</option>
                                    <option value="rectcrop">rectcrop</option>
                                    <option value="circlecrop">circlecrop</option>
                                    <option value="wipeleft">wipeleft</option>
                                    <option value="wiperight">wiperight</option>
                                    <option value="slidedown">slidedown</option>
                                    <option value="slideup">slideup</option>
                                    <option value="slideleft">slideleft</option>
                                    <option value="slideright">slideright</option>
                                    <option value="distance">distance</option>
                                    <option value="diagtl">diagtl</option>
                                </select>
                            </div>
                            <div class="edit-option-set">
                                <h3>Background Overlay</h3>
                                <input type="color" id="background-overlay" name="background-overlay" value="#000000">
                            </div>
                            <div class="edit-option-set">
                                <h3>Duration</h3>
                                <input type="number" id="duration" name="duration" min="1" max="15" value="5">
                            </div>
                            <button id="set-image">Set Image</button>
                        </div>
                        <div id="audio-options" class="editor-options">
                            <div class="edit-option-set">
                                <h3>Volume</h3>
                                <input type="range" id="volume" name="volume" min="0" max="100" value="50">
                            </div>
                            <div class="edit-option-set">
                                <h3>Start Time</h3>
                                <input type="number" id="start-time" name="start-time" min="0" value="0">
                            </div>
                            <div class="edit-option-set">
                                <h3>End Time</h3>
                                <input type="number" id="end-time" name="end-time" min="0" value="100">
                            </div>
                            <button id="set-audio">Set Audio</button>
                        </div>
                    </div>
                </div>
                <div class="image-timeline">
                    <div class="timeline-header">
                        <h3>Image Timeline</h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/script.js') }}" async defer></script>
        <script>

        </script>
    </body>
</html>