<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video Editor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href={{url_for('static',filename='images/logo-no-text.png')}} type="image/x-icon">
        <link rel="stylesheet" href={{url_for('static',filename='styles/videostyle.css')}}>
    </head>
    <body>
        <nav class="sidebar">
            <ul class="sidebar-nav">
                <div class="sidebar-logo">
                    <img src={{url_for('static',filename='images/logo-no-text.png')}} alt="logo">
                </div>
                <button class="sidebar-close" onclick="toggleMenu()">
                    <i  id="sidebar-btn" class='bx bxs-chevrons-right'></i>
                </button>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('user_dashboard') }}>
                        <i class='bx bx-home-alt-2' ></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('video_editor') }}>
                        <i class='bx bx-video-plus' ></i>
                        <span class="nav-text">Video Editor</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('upload') }}>
                        <i class='bx bx-image' ></i>
                        <span class="nav-text">Upload Images/Audio</span>
                    </a>
                </li>
            </ul>
            <ul>
                {% if username == 'admin' %}
                <li class="sidebar-nav-item">
                    <a href={{ url_for('admin_dashboard') }}>
                        <i class='bx bxs-report'></i>
                        <span class="nav-text">Admin Dashboard</span>
                    </a>
                </li>
                {% endif %}
                <li class="sidebar-nav-item">
                    <a href="{{ url_for('user_details') }}">
                        <i class='bx bxs-user-circle'></i>
                        <span class="nav-text">{{username}}</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href={{ url_for('logout') }}>
                        <i class='bx bx-log-out' ></i>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            <div class="editor">
                <div class="audio-image-panel">
                    <div class="audio-selection">
                        <form action="/handle_audio_selection" method="post">
                            {% for audio in audio_files %}
                                <div class="audio-file">
                                    <input type="radio" id="{{ audio.name }}" name="selected_audio" value="{{ audio.name }}">
                                    <label for="{{ audio.name }}">{{ audio.name }}</label>
                                    <audio controls>
                                        <source src="data:audio/mpeg;base64,{{ audio.data|safe }}" type="audio/mpeg">
                                    </audio>
                                </div>
                            {% endfor %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="image-selection">
                        <form action="/handle_image_selection" method="post">
                            {% for image in image_files %}
                                <div class="image-file">
                                    <input type="radio" id="{{ image.name }}" name="selected_image" value="{{ image.name }}">
                                    <label for="{{ image.name }}">{{ image.name }}</label>
                                    <img src="data:image/png;base64,{{ image.data|safe }}" alt="{{ image.name }}">
                                </div>
                            {% endfor %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="video-preview">
                    
                </div> 
                <div class="edit-panel">
                    <div class="edit-options">
                       
                    </div>
                </div>
            </div>
            <div class="timeline">
                
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/script.js') }}" async defer></script>
    </body>
</html>