@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', 'Helvetica';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    background-color: #f0f0f0;
    max-height: 3.5vh;
    transition: padding 0.3s ease;
}

.profile-pic {
    cursor: pointer;
}

.logo img {
    width: 10vw;
    height: auto;
    transition: width 0.3s ease;
    margin-right: 60vw;
}

.user-details {
    display: flex;
    align-items: center;
}

.user-details span {
    margin-right: 2vw;
    font-size: 2vw; /* Adjusted font size for responsiveness */
    transition: margin-right 0.3s ease, font-size 0.3s ease; /* Added transitions for margin and font size */
}

.user-details img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transition: width 0.3s ease; /* Added transition for profile photo width */
}

.upload-button {
    padding: 1vh 2vw;
    background-color: #6b9cff;
    color: #fff;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 2vw;
    font-size: 1vw; 
    transition: all 0.3s ease;
}

.upload-button:hover {
    font-size: 1.05vw;
    color: #fff;
    background-color: #498bff;
    padding: 1.5vh 2.5vw;
}

.menu-icon {
    cursor: pointer;
    margin-right: 2vw;
    font-size: 2.5vw;
}

.collapse-icon {
    cursor: pointer;
    font-size: 2.5vw;
    color: #ffffff;
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px; /* Initially off-screen */
    width: 300px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    /* justify-content: center; */
    gap: 2vh;
    padding: 4vh 4vw;
    transition: padding 0.3s ease;
}

.gallery:after {
    display: block;
    content: ' ';
    height: 100px;
}

.gallery img {
    width: auto;
    max-height: 30vh;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #e0e0e000; */
    background-color: #e0e0e0aa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.create-video-button {
    padding: 1vh 3vw;
    background-color: #42a765;
    color: #dbf4f4;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    text-decoration: none;
    /* display: inline-block; */
    display: block;
    margin: 2vh auto;
    max-width: 7.5vw;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.create-video-button:hover {
    color: #fff;
    background-color: #309053;
    padding: 1.5vh 4vw;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .menu {
        width: 200px;
    }
    .gallery {
        padding: 2vh 2vw;
    }
}