<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href="assets/images/logo-no-text.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles/homestyle.css">
    </head>
    <body>
        <nav class="sidebar">
            <button class="sidebar-close" onclick="toggleMenu()">
                <i  id="sidebar-btn" class='bx bxs-chevrons-right'></i>
            </button>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a href="home.html">
                        <i class='bx bx-home-alt-2' ></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="create_video.html">
                        <i class='bx bx-video-plus' ></i>
                        <span class="nav-text">Video Editor</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="upload_images.html">
                        <i class='bx bx-image' ></i>
                        <span class="nav-text">Upload Images</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            
        </div>
        <script src="script.js" async defer></script>
    </body>
</html>