@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: 'JetBrains Mono', 'Karla', 'Poppins', 'Helvetica';
    font-size: 1.1rem;
}

body{
    margin: 0;
    background-color: #242424;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    background: linear-gradient(to right, #45f3ff, #ff2770);
    max-height: 3.5vh;
    transition: padding 0.3s ease;
}

.profile-pic {
    cursor: pointer;
}

.logo img {
    width: 10vw;
    height: auto;
    transition: width 0.3s ease;
    margin-right: 60vw;
}

.user-details {
    display: flex;
    align-items: center;
}

.user-details span {
    margin-right: 2vw;
    font-size: 2vw; /* Adjusted font size for responsiveness */
    transition: margin-right 0.3s ease, font-size 0.3s ease; /* Added transitions for margin and font size */
}

.user-details img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transition: width 0.3s ease; /* Added transition for profile photo width */
}

.upload-button {
    padding: 1vh 2vw;
    background-color: #6b9cff;
    color: #fff;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 2vw;
    font-size: 1vw; 
    transition: all 0.3s ease;
}

.upload-button:hover {
    font-size: 1.05vw;
    color: #fff;
    background-color: #498bff;
    padding: 1.5vh 2.5vw;
}

.menu-icon {
    cursor: pointer;
    margin-right: 2vw;
    font-size: 2.5vw;
}

.collapse-icon {
    cursor: pointer;
    font-size: 2.5vw;
    color: #ffffff;
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    /* justify-content: center; */
    gap: 2vh;
    padding: 4vh 4vw;
    transition: padding 0.3s ease;
}

.gallery:after {
    display: block;
    content: ' ';
    height: 100px;
}

.gallery img {
    width: auto;
    max-height: 30vh;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #e0e0e000; */
    background-color: #e0e0e0aa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.create-video-button {
    padding: 1vh 3vw;
    background-color: #42a765;
    color: #dbf4f4;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    text-decoration: none;
    /* display: inline-block; */
    display: block;
    margin: 2vh auto;
    max-width: 7.5vw;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.create-video-button:hover {
    color: #fff;
    background-color: #309053;
    padding: 1.5vh 4vw;
}

.topbar li, a{
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-navtext);
    text-decoration: none;
}

.topbar{
    display: flex;
    background-color: var(--color-navbar);
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

    transition: all 0.3s ease 0s;
}

.logo{
    cursor: pointer;
    padding: 0px 0px;
    margin-right: auto;
    margin-left: 0px;
}

.nav-links{
    list-style: none;

    li{
        display: inline-block;
        padding: 0px 20px;

        a{
            transition: all 0.3s ease 0s;
        }

        a:hover{
            color: var(--color-navtext-hover);
            background-color: var(--color-tertiary);
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}

.active{
    border-bottom: 2px solid var(--color-tertiary);
}

@media screen and (max-width: 768px) {
    .menu {
        width: 200px;
    }
    .gallery {
        padding: 2vh 2vw;
    }
}